{{#partial "titulo-css" }}
    <title>Crear establecimiento</title>
    <link rel="stylesheet" href="/css/styles_creacionEstablecimientos.css">
{{/partial}}


{{#partial "contenido" }}
<div class="container">

    <h1 class="center-label">{{#if establecimiento}}Editar establecimiento{{else}}Creación de establecimientos{{/if}}</h1>
    <form id="comunidadForm" method="POST" {{#if establecimiento}} action="/establecimientos/editar/{{establecimiento.idEstablecimiento}}" {{else}} action="/establecimientos" {{/if}}>

        <div class="input-container">
                <label for="nombre">Nombre</label>
                <input
                        type="text"
                        name="nombre"
                        placeholder="Ingrese el nombre del establecimiento"
                        {{#if establecimiento}}
                            value="{{establecimiento.nombre}}"
                        {{/if}}
                        name="nombre"
                        id="nombre"
                        required
                />
        </div>

        <div class="input-container">
            <label for="entidad"><b>Entidad</b></label>
            <select id="entidad" name="entidad" class="custom-select">

                <option value="" disabled selected>Seleccione la entidad</option>

                {{#each entidades}}
                    <option value="{{this.idEntidad}}">{{this.nombre}}</option>
                {{/each}}

            </select>
        </div>


        <div class="input-container" id="provincia-container">
            <label for="provincia"><b>Provincia</b></label>
            <select id="provincia" name="provincia" class="custom-select" {{#if establecimiento}} value="{{this.getLocalizacion.getProvincia.getId}}"{{/if}} >

                <!--aca va la opcion que nos traemos del back con el AJAX-->

            </select>
        </div>

        <div class="input-container" id="localizacion-container">
        </div>



        <div class="input-container" id="departamento-container">
            <label for="departamento"><b>Departamento</b></label>
            <select id="departamento" name="departamento" class="custom-select">
                <option value="" disabled selected>Seleccione su departamento</option>
            </select>
        </div>

        <div class="input-container" id="municipio-container">
            <label for="municipio"><b>Municipio</b></label>
            <select id="municipio" name="municipio" class="custom-select">
                <option value="" disabled selected>Seleccione su municipio</option>
            </select>
        </div>


        <button type="submit">Crear establecimiento</button>
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/script_creacionEstablecimientos.js"></script>

<script>
    const entidadDropdown = document.getElementById("entidad");
    const provinciaContainer = document.getElementById("provincia-container");

    entidadDropdown.addEventListener("change", function () {
        provinciaContainer.style.display = "block";
    });
</script>

{{/partial}}




{{> templates/navbar }}