{{#partial "titulo-css" }}
    <title>Listado de comunidades</title>
    <link rel="stylesheet" href="/css/styles_listadoComunidades.css">
{{/partial}}



{{#partial "contenido" }}
<div class="table-container">
    <h1 class="comunidades-title">Entidades</h1>
    <table class="content-table">

        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Prestadora</th>
            <th>Provincia</th>
            <th>Municipio</th>
            <th>Departamento</th>
            <th>Acción</th>
        </tr>
        <tbody>
        {{#each entidades}}
        <tr>
            <td>{{this.getNombre}}</td>
            <td>{{this.getDescripcion}}</td>
            <td>{{this.getPrestadora.getNombre}}</td>
            <td>{{this.getLocalizacion.getProvincia.getNombre}}</td>
            {{#if this.getLocalizacion.getMunicipio}}
                <td>{{this.getLocalizacion.getMunicipio.getNombre}}</td>
            {{else}}
                <td>-</td>
            {{/if}}

            {{#if this.getLocalizacion.getDepartamento}}
                <td>{{this.getLocalizacion.getDepartamento.getNombre}}</td>
            {{else}}
                <td>-</td>
            {{/if}}


            <td>
            <form method="GET" action="/entidades/editar/{{this.getIdEntidad}}" class="button-form">
                <input type="hidden" name="id" value="{{this.getIdEntidad}}">
                <button id="edit" class="table-button" type="submit">
                    <img src="/imagenes/edit.png" alt="Edit Button">
                </button>
                </form>
            <form method="POST" action="/entidades/eliminar" class="button-form">             <!--TODO-->
                <input type="hidden" name="id" value="{{this.getIdEntidad}}">
                <button id="delete" class="table-button" type="submit">
                    <img src="/imagenes/delete.png" alt="Delete Button">
                </button>
            </form>

            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{/partial}}


{{> templates/navbar }}