{{#partial "titulo-css" }}
    <title>Rankings de incidentes</title>
    <link rel="stylesheet" href="/css/styles_rankings.css">
{{/partial}}


{{#partial "contenido" }}

<div class="container">
    <h1 class="center-label">Rankings de incidentes</h1>
    <div class="input-container">
        <form id="rankingIncidentesForm" method="GET" action="/rankings-incidentes">
            <label for="ranking-incidente"><b>Rankings disponibles</b></label>
            <select id="ranking-incidente" name="ranking-incidente" class="custom-select" required>

                <option value="" disabled selected>Seleccione el ranking que desea visualizar</option>

                {{#each criterios}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>

            <button type="submit">Seleccionar</button>
        </form>
    </div>
</div>

    <!-- Aca mostramos la informacion relevante de los rankings -->
    {{#if entidadesConPuntaje}}
        <div class="table-container">
            <table class="content-table">
                <tr>
                    <th>Entidad</th>
                    <th>Puntaje</th>
                    <th>Descripcion</th>
                </tr>
                <tbody>
                {{#each entidadesConPuntaje}}
                    <tr>
                        <td>{{this.entidad.nombre}}</td>
                        <td>{{this.puntaje}}</td>
                        <td>{{this.entidad.descripcion}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}
{{/partial}}


{{> templates/navbar }}