{{#partial "titulo-css" }}
    <title>Listado de comunidades</title>
    <link rel="stylesheet" href="/css/styles_listadoComunidades.css">
{{/partial}}



{{#partial "contenido" }}
<div class="table-container">
    <h1 class="comunidades-title">Comunidades</h1>
    <table class="content-table">

        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acción</th>
        </tr>
        <tbody>
        {{#each comunidades}}
        <tr>
            <td>{{this.getComunidad.getNombre}}</td>
            <td>{{this.getComunidad.getDescripcion}}</td>
            <td>
                {{#if formaParte}}
                    <form method="POST" action="/comunidades/abandonar" class="button-form">
                        <input type="hidden" name="id" value="{{this.getComunidad.getIdComunidad}}">
                        <button id="leave" class="table-button" type="submit">
                            <img src="/imagenes/leave.png" alt="Leave Button">
                        </button>
                    </form>
                    {{#if this.getEsAdmin}}
                        <form method="GET" action="/comunidades/editar/{{this.getComunidad.getIdComunidad}}" class="button-form">
                            <input type="hidden" name="id" value="{{this.getComunidad.getIdComunidad}}">
                            <button id="edit" class="table-button" type="submit">
                                <img src="/imagenes/edit.png" alt="Edit Button">
                            </button>
                            </form>
                        <form method="POST" action="/comunidades/eliminar" class="button-form">
                            <input type="hidden" name="id" value="{{this.getComunidad.getIdComunidad}}">
                            <button id="delete" class="table-button" type="submit">
                                <img src="/imagenes/delete.png" alt="Delete Button">
                            </button>
                        </form>
                    {{/if}}
                {{else}}
                    <form method="POST" action="/comunidades/unirse" class="button-form">
                        <input type="hidden" name="id" value="{{this.getComunidad.getIdComunidad}}">
                        <button id="join" class="table-button" type="submit">
                            <img src="/imagenes/join.png" alt="Join Button">
                        </button>
                    </form>
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{/partial}}


{{> templates/navbar }}